PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/rider-management
JWT_SECRET=mysecretkey1234
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000,http://localhost:3001
CLOUDINARY_CLOUD_NAME=dundm4r1l
CLOUDINARY_API_KEY=979312924327323
CLOUDINARY_API_SECRET=oqjZ5RQn4injs6J3trzLWuf247o
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=ChangeMe123!
